.image {
    height: auto;
    min-width: 100%;
    border-radius: 4px;
    margin: 12px 0;
}

.ingredients {
    margin: 12px 0;
}

.ingredients-list {
    list-style: circle;
    padding-left: 14px;
    font-size: 18px;
}