.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 6px;
    font-size: larger;
    font-weight: 600;
    background-color: #7D6E83;
    color: #F8EDE3;
}